# Content of the gitignore file

.env
*.log
*.pyc
*.png
*.mp3
city.list.json
convertcity.py
last_news_url.json
TNT_collector_TEST.py
TNT.html
dico_marseillais.txt
create_dico_marsellais.py
audio_recognition.py
*channels.json
birthdays.json
